// you can change colors here
@font-face {font-family: "Cascadia";src:url(/font/Cascadia.ttf);}
$theme-color: #096dd9;
$font-family: '"Noto Sans SC"';
$font-family-heading: '"Noto Sans SC"';
$font-family-mono: '"Cascadia", "Noto Sans SC"';