// you can change colors here
@font-face {font-family: "COURIER PRIME CODE";src:url(/font/code.ttf);}
$theme-color: #096dd9;
$font-family: '"Noto Sans SC"';
$font-family-heading: '"Noto Sans SC"';
$font-family-mono: '"COURIER PRIME CODE", "Noto Sans SC"';